{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANSAD</title>
    <!-- Link to Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'images/ansade.jpeg' %}" alt="ANSAD Logo" class="logo">
        <h1 class="display-4">ANSADE</h1>
        <!-- Add other elements as needed -->
    </div>

    <div class="contact-info">
        <a href="mailto:info@ansade.mr">info@ansade.mr</a>
        <a href="https://web.facebook.com/ansade.rim" target="_blank" class="facebook-logo">
            <img src="{% static 'images/f.jpeg' %}" alt="Facebook Logo">
        </a>
    </div>

    <!-- Add the Bootstrap JavaScript file (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
