<!-- templates/myfirstapp/price_chart.html -->
{% extends 'base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<h2>{{ produit.label }} - Évolution des prix</h2>

<form id="dateForm">
  <label for="start_date">Date de début :</label>
  <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
  
  <label for="end_date">Date de fin :</label>
  <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
  
  <button type="button" id="showChartBtn">Afficher le graphique</button>
</form>

<canvas id="priceChart" width="800" height="400"></canvas>

<script>
  // Use the IIFE pattern to avoid conflicts
  (function($) {
    $(document).ready(function() {
      $("#showChartBtn").on("click", function() {
        var start_date = $("#start_date").val();
        var end_date = $("#end_date").val();
        var produit_id = {{ produit_id }};
        loadChart(start_date, end_date, produit_id);
      });

      function loadChart(start_date, end_date, produit_id) {
        var formattedStartDate = start_date.split('-').join('-');
        var formattedEndDate = end_date.split('-').join('-');

        $.ajax({
          url: `/price-chart/${produit_id}/`,
          method: 'GET',
          data: { start_date: formattedStartDate, end_date: formattedEndDate },
          success: function (data) {
            var ctx = document.getElementById('priceChart').getContext('2d');

            if (window.myChart) {
              window.myChart.destroy();
            }

            window.myChart = new Chart(ctx, {
              type: 'bar',
              data: {
                labels: data.labels,
                datasets: data.datasets.map(function (item) {
                  return {
                    label: item.label,
                    data: item.data,
                    backgroundColor: item.backgroundColor,
                    borderColor: item.borderColor,
                    borderWidth: item.borderWidth
                  };
                }),
              },
              options: {
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: 'Dates'
                    }
                  },
                  y: {
                    title: {
                      display: true,
                      text: 'Prix moyen'
                    }
                  }
                },
                plugins: {
                  legend: {
                    display: true,
                    position: 'top'
                  }
                }
              }
            });
          },
          error: function (error) {
            console.log('Error loading chart data:', error);
          }
        });
      }
    });
  })(jQuery); // Pass jQuery to the IIFE
</script>

{% endblock %}
