<!-- templates/myfirstapp/price-chart-page.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Graphique des prix du produit {{ produit_id }}</h2>

  <form id="dateForm">
    <label for="start_date">Date de début :</label>
    <input type="date" id="start_date" name="start_date" value="{% now 'Y-m-d' %}">
    
    <label for="end_date">Date de fin :</label>
    <input type="date" id="end_date" name="end_date" value="{% now 'Y-m-d' %}">
    
    <button type="button" id="showChartBtn" onclick="loadChart(this, {{ produit_id }})">Afficher le graphique</button>
  </form>

  <canvas id="priceChart" width="800" height="400"></canvas>

  <script>
    // Fonction pour charger le graphique
    function loadChart(form, produit_id) {
      var start_date = form.querySelector('#start_date').value;
      var end_date = form.querySelector('#end_date').value;

      $.ajax({
        url: http://127.0.0.1:8000/price-chart/${produit_id}/,
        method: 'GET',
        data: { start_date: start_date, end_date: end_date },
        success: function (data) {
          var ctx = document.getElementById('priceChart').getContext('2d');
      
          if (window.myChart) {
              window.myChart.destroy();
          }
      
          window.myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: data.labels,  // Assuming data.labels is an array of unique dates
                  datasets: data.datasets.map(function (item) {
                      return {
                          label: 'Prix moyen - Point ' + item.point_ID,
                          data: item.data.map(function (dataPoint) {
                              return {
                                  x: dataPoint.date,
                                  y: dataPoint.avg_value
                              };
                          }),
                          borderColor: 'rgba(' + getRandomColor() + ')',
                          borderWidth: 2,
                          fill: false,
                      };
                  }),
              },
              options: {
                  scales: {
                      x: {
                          type: 'linear',  // Use 'linear' scale for numeric x-axis values
                          position: 'bottom',
                      },
                  },
                  // Customize other chart options if needed
              },
          });
      },
      error: function (error) {
          console.log(error);
      },
    </script>

  
{% endblock %} 