{% extends 'base.html' %}

{% block content %}
  <h2>Liste des Produits</h2>

  <!-- Ajout des boutons d'importation et d'exportation -->
  <form method="post" enctype="multipart/form-data" style="margin-bottom: 10px;">
    {% csrf_token %}
    <input type="file" name="myfile" accept=".csv" required>
    <button type="submit" name="import_data" class="btn btn-success btn-sm">Importer</button>
  </form>

  <a href="{% url 'export_produits_csv' %}" class="btn btn-primary btn-sm">Exporter Produits</a>

  <!-- Affichage des erreurs d'importation -->
  {% if error_messages %}
    <div class="alert alert-danger" role="alert">
      {% for message in error_messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}

  <!-- Tableau des produits -->
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Label</th>
        <th>Code</th>
        <th>Prix unitaire</th>
        <th>Famille de Produit</th>
        <!-- Ajoutez d'autres colonnes selon votre modèle -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for produit in produits %}
        <tr>
          <td>{{ produit.id }}</td>
          <td>{{ produit.label }}</td>
          <td>{{ produit.code }}</td>
          <td>{{ produit.price_unit }}</td>
          <td>{{ produit.famille_produit_ID.label }}</td>
          <!-- Ajoutez d'autres colonnes selon votre modèle -->
          <td>
            <a href="{% url 'produit_detail' pk=produit.id %}" class="btn btn-info btn-sm">Détails</a>
            <a href="{% url 'produit_edit' pk=produit.id %}" class="btn btn-warning btn-sm">Modifier</a>
            <a href="#" class="btn btn-danger btn-sm" onclick="confirmDelete('{{ produit.label }}', '{% url 'produit_delete' pk=produit.id %}')">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'produit_new' %}" class="btn btn-primary btn-sm">Nouveau Produit</a>

  <!-- JavaScript pour la confirmation de suppression -->
  <script>
    function confirmDelete(label, deleteUrl) {
      var userResponse = confirm("Voulez-vous vraiment supprimer le produit '" + label + "' ?");
      if (userResponse) {
        window.location.href = deleteUrl;  // Rediriger vers l'URL de suppression si l'utilisateur confirme
      }
    }
  </script>
{% endblock %}
