<!-- myfirstapp/templates/myfirstapp/product_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <!-- Ajouter le lien vers le fichier CSS Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <!-- Utiliser les classes Bootstrap pour le style -->
    <div class="container mt-5">
        <h1>Product List</h1>
        <ul class="list-group">

            <!-- Utiliser les classes Bootstrap pour styliser la liste de produits -->
            {% for product in products %}
                <li class="list-group-item">
                    <a href="{% url 'product_detail' pk=product.pk %}">{{ product.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'product_new' %}" class="btn btn-primary mt-3">Add a new product</a>
    </div>

    <!-- Ajouter le fichier JavaScript Bootstrap (optionnel) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

