{% extends 'base.html' %}

{% block content %}
  <h2>Liste des Produits</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Label</th>
        <th>Price Unit</th>
        <th>Code</th>
        <!-- Ajoutez d'autres colonnes selon votre modèle -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for produit in produits %}
        <tr>
          <td>{{ produit.id }}</td>
          <td>{{ produit.label }}</td>
          <td>{{ produit.price_unit }}</td>
          <td>{{ produit.code }}</td>
          <!-- Ajoutez d'autres colonnes selon votre modèle -->
          <td>
            <a href="{% url 'produit_detail' pk=produit.id %}" class="btn btn-info btn-sm">Détails</a>
            <a href="{% url 'produit_edit' pk=produit.id %}" class="btn btn-warning btn-sm">Modifier</a>
            <a href="{% url 'produit_delete' pk=produit.id %}" class="btn btn-danger btn-sm">Supprimer</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'produit_new' %}" class="btn btn-primary btn-sm">Nouveau Produit</a>
{% endblock %}
