{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="search container w-60 pb-3 pt-4">
  <div class="text-center">
    <div class="form-outline">
      <div id="tt">
        <img src="{% static 'images/ansade.jpeg' %}" width="115" height="90" alt="" loading="lazy">
      </div>
    </div>
  </div>

  <!-- ======= Services Section ======= -->
  <section id="services">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <img src="{% static 'images/indice.png' %}" alt="Icon 1" class="icon">
              <h4 class="title"><a href="/listeclasses/">Gestion des Elèves</a></h4>
              <p class="description">Visualiser, Modifier Ou Gerer les données des élèves</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{% static 'images/evolution.png' %}" alt="Icon 2" class="icon">
              <h4 class="title"><a href="/listeparents/">Gestion des Parents</a></h4>
              <p class="description">Visualiser, Modifier Ou Gerer les données des Parents</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{% static 'images/predictive.png' %}" alt="Icon 3" class="icon">
              <h4 class="title"><a href="/uploadA/">Importer les donnees d'absences</a></h4>
              <p class="description">Importer d'un fichier CSV les données des absences</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-journal-plus"></i></div>
              <h4 class="title"><a href="/uploadN/">Importer les donnees des notes</a></h4>
              <p class="description">importer d'un fichier csv les donnees des notes</p>
            </div>
          </div>
    

        </div>
      </div>
    </div>
  </section><!-- End Services Section -->
</div>
{% endblock content %}


