{% load bootstrap5 static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Gallery</title>

    {% block styles %}
        {% bootstrap_css %}
        <!-- Utilisation locale de Bootstrap -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% endblock %}

    <!-- Inclure la bibliothèque Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}
        <!-- Ajoutez d'autres scripts ici si nécessaire -->
        <script src="{% bootstrap_javascript_url %}"></script>
    {% endblock %}
</body>
</html>




